<h1>Listing tweets</h1>

<table>
  <tr>
    <th>Text</th>
    <th>Profile image url</th>
    <th>From user</th>
    <th>From user name</th>
    <th>Source</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tweets.each do |tweet| %>
  <tr>
    <td><%= tweet.text %></td>
    <td><%= tweet.profile_image_url %></td>
    <td><%= tweet.from_user %></td>
    <td><%= tweet.from_user_name %></td>
    <td><%= tweet.source %></td>
    <td><%= link_to 'Show', tweet %></td>
    <td><%= link_to 'Edit', edit_tweet_path(tweet) %></td>
    <td><%= link_to 'Destroy', tweet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tweet', new_tweet_path %>
