<h1>Listing users</h1>

<table>
  <tr>
    <th>Text</th>
    <th>Profile image url</th>
    <th>From user</th>
    <th>From user name</th>
    <th>Source</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.text %></td>
    <td><%= user.profile_image_url %></td>
    <td><%= user.from_user %></td>
    <td><%= user.from_user_name %></td>
    <td><%= user.source %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
