<p id="notice"><%= notice %></p>

<p>
  <b>Text:</b>
  <%= @user.text %>
</p>

<p>
  <b>Profile image url:</b>
  <%= @user.profile_image_url %>
</p>

<p>
  <b>From user:</b>
  <%= @user.from_user %>
</p>

<p>
  <b>From user name:</b>
  <%= @user.from_user_name %>
</p>

<p>
  <b>Source:</b>
  <%= @user.source %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
